.card {
    background: linear-gradient(#363636, #363636);
    justify-content: center;
    align-items: center;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
}